.node {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.node_start {
    background-color: green;
}

.node_end {
    background-color: red;
}

.node_searched  {
    background-color: lightgray;
}

.node_path {
    background-color: deeppink;
}

.node_wall {
    background-color: black;
}

.node_sand {
    background-color: yellow;
}

.node_ice {
    background-color: blue;
}

.node_snow {
    background-color: lightblue;
}

.node_tree {
    background-color: darkgreen;
}

.node_mud {
    background-color: brown;
}
